---
layout: none
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}

<body class="player-body">

    <header>
        <div class="player-header">
            <img src="/assets/images/og_image.png" />
        </div>
        {% include google-ads-episode.html %}
        <div id="embedded-player"></div>
    </header>

    <main class="player-description">
        <div class="listening">You're listening to </div>
        <div id="episode"></div>
        <div id="summary"></div>
    </main>

    <footer class="player-footer">
        <div class="share">
            Share this!
        </div>
        <div>
            <a href="/twitter/" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
            <a href="/facebook/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
            <a href="/linkedin/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </footer>

    {% include scripts.html %}

    <script>
        var url = new URL(location);
        var episodeId = url.searchParams.get('e');

        fetch('/episodes.json')
            .then(r => r.json())
            .then(r => r.episodes.filter(e => e.id === episodeId))
            .then(r => {
                if (r.length === 0) {
                    throw new Error('No episode found');
                } else {
                    return r[0];
                }
            })
            .then(e => {
                let ex = document.getElementById("summary");
                let ep = document.getElementById("episode");
                let pl = document.getElementById("embedded-player");

                ex.innerText = e.summary;
                ep.innerText = `Episode ${e.episode}: ${e.title}`
                pl.innerHTML = `<iframe src="${e.embed}" frameborder="0"
                webkitallowfullscreen="false" mozallowfullscreen="false" height="25"></iframe>`;
            })
            .catch(err => {
                console.log(err);
                location = "/404/?url=" + encodeURIComponent(location);
            });
    </script>
</body>

</html>