{% assign form = include.form %}

{% assign required = "" %}
{% assign glyph="" %}

<div class="google-form">

    <script type="text/javascript">var submitted = false;</script>

    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
        onload="if(submitted) {window.location='thankyou';}"></iframe>

    <form action="{{ form.action }}" method="post" target="hidden_iframe" onsubmit="submitted=true;">
        {% for q in form.questions %}

        {% if q.required %}
        {% assign required = "required" %}
        {% assign glyph = '<span class="glyph">&nbsp;*</span>' %}
        {% else %}
        {% assign required = "" %}
        {% assign glyph = '<span class="glyph">&nbsp;&nbsp;</span>' %}
        {% endif %}

        <div class="question">
            {% if q.type == "longtext" %}
            <label for="{{ q.name }}">{{ q.label }}</label>
            {{ glyph }}
            <textarea rows="5" placeholder="{{ q.placeholder }}" name="{{ q.name }}" {{ required }}></textarea>
            {% elsif q.type == "radio" or q.type == "checkbox" %}
            <label for="{{ q.name }}">{{ q.label }}</label>
            {{ glyph }}
            <div class="input-group">
                {% for o in q.options %}
                <input data-subtype="chooser" name="{{ q.name }}" type="{{ q.type }}" id="{{o.value}}"
                    value="{{o.value}}" />
                <label for="{{o.value}}">{{ o.text }}</label><br />
                {% endfor %}
                {% if q.include_other %}
                <input data-subtype="otherchooser" name="{{ q.name }}" type="{{q.type}}" id="{{ q.name }}.other"
                    value="__other_option__" />
                <label for="{{ q.name }}.other">Other</label>
                <input data-subtype="othertext" class="input-other inactive" id="{{ q.name }}.othertext"
                    type="{{ 'text' }}" />
                <input data-subtype="otherhidden" type="hidden" id="{{ q.name }}.otherhidden"
                    name="{{ q.name }}.other_option_response" value="" disabled />
                {% endif %}
            </div>
            {% else %}
            <label for="{{ q.name }}">{{ q.label }}</label>
            {{ glyph }}
            <input name="{{ q.name }}" type="{{ q.type | 'text' }}" placeholder="{{ q.placeholder | p.label }}"
                {{ required }} />
            {% endif %}
        </div>

        <hr />

        {% endfor %}

        <div class="submit-form-wrapper">
            <button type="submit">Let's Rock! &#129304;</button>
        </div>
    </form>
</div>

<script>
    $(() => {

        let resetOther = (text, hidden) => {
            $(text).val("");
            $(text).prop('required', false);
            $(text).addClass('inactive');
            $(hidden).val("");
            $(hidden).prop('disabled', true);
        };

        let initChooser = (chooser, other, text, hidden) => {
            $(chooser).click(e => {
                if ($(chooser).attr('type') == 'radio') {
                    resetOther(text, hidden);
                }
            });
            $(text).keyup(e => {
                $(hidden).val($(text).val());
            });
        };

        let initOtherChooser = (other, text, hidden) => {
            $(other).click(e => {
                if ($(other).prop('checked')) {
                    $(text).removeClass('inactive').focus();
                    $(text).prop('required', true);
                    $(hidden).prop('disabled', false);
                } else {
                    resetOther(text, hidden);
                }
            });
        };

        let inputGroups = $("div.input-group");
        inputGroups.each((idx, el) => {
            var inputs = $(el).children("input");
            let choosers = inputs.filter("[data-subtype='chooser']");
            let otherChooser = inputs.filter("[data-subtype='otherchooser']").first()[0];
            var otherText = inputs.filter("[data-subtype='othertext']").first()[0];
            var otherHidden = inputs.filter("[data-subtype='otherhidden']").first()[0];

            choosers.each((idx, chooser) => initChooser(chooser, otherChooser, otherText, otherHidden));
            initOtherChooser(otherChooser, otherText, otherHidden);
        });
    });

</script>