<header class="page-header" role="banner">
    <h1 class="project-name">
        <i class="fas fa-podcast fa-2x c-logo"></i>
        {{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    {% if page.call_to_action %}
    <a href="{{ page.call_to_action.url }}" class="btn">{{ page.call_to_action.text }}</a>
    {% endif %}
    {% assign latest = site.posts | where_exp: "item", "item.episode != null" | first %}
    <a href="{{ latest.id }}" class="btn">Latest Episode</a>
</header>