<div class="host-bio">
    <div class="host-about">
        <p>
            Hi! I'm
            <a href="{{ site.show_host.url }}" target="_blank">{{ site.show_host.name }}</a>, the host of
            <a href="/" target="_self">{{ site.title }}</a>.
        </p>
        <p>
        <blockquote>
            I help make good software engineers great!
        </blockquote>
        </p>
        <p>
            Those seven words describe my vocation and passion in a nutshell. I want to help you
            on your journey too!
        </p>
        <p>
            More broadly, <strong>I want to help software professionals of all sorts</strong>,
            not just those
            who write code. I have a Masters degree in Transformational Leadership. I
            have over two decades of software industry experience. Whether working as a
            software consultant, software engineer, software architect, or SaaS startup
            co-founder, <strong>I have spent my entire career at the intersection of software and
                leadership</strong>.
        </p>
    </div>
    <div class="host-img">
        <!-- <a href="#show_host"> -->
        <a href="https://jeffdoolittle.com" target="_blank">
                <img class="thumbnail" src="{{ site.show_host.pic }}" />
        </a>
        <!-- <a id="show_host" class="lightbox" href="#_">
            <img src="{{ site.show_host.pic }}" />
        </a> -->
    </div>
</div>