Effective May 20, 2020

<h2>{{ site.title }} may:</h2>

<ul>
    <li>
        Contact you before launch for more detailed information
    </li>
    <li>
        Contact you regarding podcast related content
    </li>
    <li>
        Contact you for feedback on the podcast
    </li>
    <li>
        Add you to a mailing list from which you can unsubscribe any time
    </li>
</ul>

<h2> {{ site.title }} will not:</h2>

<ul>
    <li>
        Share your name or email address with any third parties
    </li>
    <li>
        Spam you
    </li>
</ul>

<h2> {{ site.title }} will:</h2>

<ul>
    <li>
        Remove any personally indentifying information at your request in compliance with applicable law
    </li>
    <li>
        Rock! &#129304;
    </li>
</ul>

<a href="./"><i class="fa fa-angle-left"></i> back</a>
